
.Dictionary section {
    background-color: #72C9EA;
    border: solid 2px #161616;
    border-radius: 20px 20px 20px 0;
    padding: 0 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #1b1a1a;
}

.Dictionary input {
    width: 100%;
    padding: 30px 20px;
    border: solid 2px #161616;
    border-radius: 20px 20px 0 20px;
    color: #fff;
    background-color: #004ED5;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    font-weight: 700;
}

.Dictionary input:focus{
    outline: none;
}

.Dictionary button {
    border: none;
    background: none;
    color: #161616;
    margin-left: 10px;
    margin-bottom: 10px;
}

.Dictionary button:hover {
    text-decoration: underline;
}