.Meaning h3 {
  font-family: Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    opacity: 0.6;
    letter-spacing: 0.1px;
}

.Meaning p {
    color: #161616;
}

.Meaning p:first-letter {
    text-transform: uppercase;
}

.Meaning em {
    font-size: 14px;
    color: #161616;
}

.Meaning strong {
    font-size: 14px;
    color: #161616;
}
