.Meaning h3 {
    text-transform: capitalize;
    font-weight: lighter;
    color: #808086;
}

.Meaning p {
    color: #161616;
}

.Meaning p:first-letter {
    text-transform: uppercase;
}

.Meaning em {
    font-size: 14px;
    color: #161616;
}

.Meaning strong {
    font-size: 14px;
    color: #161616;
}