.Phonetics {
    height: 40px;
}

.Phonetics a {
    color: #daddee;
    border: solid 1px #daddee;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.Phonetics svg {
    color: #daddee;
}

.Phonetics a:hover {
    color: #daddee;
    background-color: #daddee2c;
    transition: all 150ms ease-in-out;
    text-decoration: none;
}

.Phonetics .text {
    color: #daddee;
}