.Phonetics {
    height: 40px;
}

.Phonetics a {
    color: #1b1a1a;
    border: solid 1px #1b1a1a;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.Phonetics a:hover {
    color: #f4ff23;
    background-color: #aaaaaa;
    transition: all 150ms ease-in-out;
    text-decoration: none;
}

.Phonetics .text {
    color: #aaaaaa;
}