.Synonyms {
    margin: 0;
    padding: 0;
}

.Synonyms li {
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #7e7f88;
    font-family: 'Playfair Display', serif;
}

.Synonyms li:first-letter {
    text-transform: uppercase;
}