.Synonyms {
    margin: 0;
    padding: 0;
}

.Synonyms li {
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #1b1a1a;
    font-family: Orbitron, sans-serif;
}